body {
    font-family: "Afacad", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8; /* Set the background color of the particles container */
}



.poem-container {
    text-align: center;
    padding: 20px;
    opacity: 90%;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure poem container is above particles */
}

.poem-line {
    font-size: 1.4rem;
    color: #333;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(20px);
}

.poem-line[data-delay] {
    --delay: 0s;
}

.poem-line.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #d038c3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.9s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3e26cb;
}
